
body {
  background-color: beige;
}

#start-button {
  background-color: red;
  font-family: 'Creepster', cursive; 
  color: beige;
  border: 1px red;
  

}
.container {
  text-align: center;
 
}
#my-canvas {

  display: none;
}

.imagen {

  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  
}

