
body {
  background-color: beige;
}

#start-button {


}
.container {
  text-align: center;
 
}
#my-canvas {

  display: none;
}
.btn-primary {

background-color: red;

}

.imagen {

  background-image: url(../img/grupo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  
}